<header class="place-card-header">
  <div class="place-card-header-info">
    <h1 class="place-card-header-title">Bar</h1>
  </div>
  <div class="place-card-header-actions">
    <button class="button is-secondary">
      <mn-icon iconName="close"></mn-icon>
    </button>
    <button class="button is-secondary">
      <mn-icon iconName="close"></mn-icon>
    </button>
    <button class="button is-secondary">
      <mn-icon iconName="close"></mn-icon>
    </button>
  </div>
</header>
<div class="place-card-content">
  <div class="description-section">
    <p>Здесь должно быть описание</p>
  </div>
  <div class="photos-section">
    <ul class="preview-list">
      <li class="preview-list-item">
        <div class="preview-img" style="background-image: url(https://media-cdn.tripadvisor.com/media/photo-s/11/5b/7c/ab/interiors.jpg)"></div>
      </li>
    </ul>
  </div>
</div>
<div class="main-actions">
  <button class="button double-gis-button">Построить маршрут в 2GIS</button>
  <button class="button yandex-taxi-button">Заказать Яндекс Такси</button>
</div>
